global
    log 127.0.0.1 local0 notice
    maxconn 2048
    tune.ssl.default-dh-param 2048


defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000
    mode http
    stats enable
    stats uri /"${HA_STATS_PATH}"?stats
    stats realm Strictly\ Private
    stats auth "${HA_STATS_USER}":"${HA_STATS_PASSWORD}"
    balance roundrobin
    option httpclose
    option forwardfor

userlist elasticsearch_user
  user "${ES_USER}" insecure-password "${ES_PASSWORD}"

frontend http-frontend
    bind *:80
    acl certbot-acl path_beg /.well-known/acme-challenge/
    redirect scheme https if !{ ssl_fc } !certbot-acl

    use_backend certbot_backend if certbot-acl


frontend https-frontend
    bind *:443 ssl crt "${CERTS_PATH}"

    acl host_couchdb hdr(host) -i db."$DOMAIN"
    acl host_elasticsearch hdr(host) -i search."$DOMAIN"
    acl host_api hdr(host) -i api."$DOMAIN"

    use_backend couchdb_backend if host_couchdb
    use_backend elasticsearch_backend if host_elasticsearch
    use_backend api_backend if host_api

backend couchdb_backend
    server couchdb_backend couchdb:5984 check

backend elasticsearch_backend
    server elasticsearch_backend elasticsearch:9200 check
    acl auth_ok http_auth(elasticsearch_user)
    http-request auth unless auth_ok

backend api_backend
    server api_backend api:8080 check

backend certbot_backend
    server certbot_backend certgen-prod:80 init-addr none
